<div id="allison-mcmillan" class="speaker">
											
  <div class="speaker-photo">
    <img class="speaker-image" src="{{site.url}}/images/speakers/2022/allison_mcmillan.jpg" alt="Allison McMillan" width="150"/>
  </div>

  <div class="speaker-details">
    <h3 class="speaker-name">Allison McMillan</span></h3>

    <p class="speaker-bio">
      <a href="https://daydreamsinruby.com" target="_blank">Allison McMillan</a>
      is a well-known Engineering leader. 
      She’s previously help leadership roles at QuotaPath, DEV, and GitHub.
      Allison has worn many hats in multiple industries as a community builder, managing director, and software engineer. 
    </p>

    <p class="speaker-bio">
      Allison started a podcast about being a parent in tech, 
      <a href="https://www.parentdrivendevelopment.com/" target="_blank">Parent Driven Development</a>
      and is the former board president of Ruby Central, as well as current board member. 
      She is an internationally recognized keynote speaker and speaks on a variety of topics including 
      building interactive workshops for engineers, improving remote work-culture, and more.
    </p>

    <p class="speaker-bio">
      When she's not coding, you can find her encouraging her son's climbing skills, 
      being both proud and annoyed about her daughter's sassiness, or pretending she has time to bake.
    </p>
	
	<!--
    <p class="speaker-bio">
      <a href="https://daydreamsinruby.com" target="_blank">Allison McMillan</a>
      is the VP of Engineering at
      <a href="https://www.quotapath.com/" target="_blank">QuotaPath</a>.
      She's worn many hats in multiple industries as a community builder, managing director, and software engineer. 
      She has also been an engineering leader at DEV and GitHub.
    </p>
    <p class="speaker-bio">
      Allison started a podcast about being a parent in tech, 
      <a href="https://www.parentdrivendevelopment.com/" target="_blank">Parent Driven Development</a>
      and is the board president of Ruby Central. She is an internationally recognized keynote speaker and speaks on a variety of topics including building interactive workshops for engineers, working remotely, and more.
    </p>
    <p class="speaker-bio">
      When she's not coding, you can find her encouraging her son's climbing skills, being both proud and annoyed about her daughter's sassiness, or pretending she has time to bake. 
	  </p>
-->

    <h3 class="talk-title">Keynote: The Most Annoying Lesson to Learn</h3>

    <p class="talk-description">
      The lessons we are forced to learn as parents make us better managers, leaders, and teammates. 
      Parenting is stressful, difficult, and changes the very essence of your being. 
      It gives you high highs and low lows. 
      It forces individuals to reconcile their personality and approaches with these new tiny humans they’ve brought into the world. 
      Parents are challenged to think differently and leave their comfort zone in ways they could have never imagined. 
      When I became a parent, I had read the books and done the research and yet still, I was completely unprepared for the challenges that awaited me. 
      Learn about how these new perspectives impact the way you think about teamwork, conflict, compromise, and communication on engineering teams.
    </p>

  </div>
</div>
