<div id="chris-lorenzo" class="speaker">
  <div class="speaker-photo">
    <img class="speaker-image" src="{{site.url}}/images/speakers/2022/chris_lorenzo.png" alt="Chris Lorenzo" width="150"/>
  </div>

  <div class="speaker-details">

    <h3 class="speaker-name">Chris Lorenzo</span></h3>

    <p class="speaker-bio">
      Chris has worked at Comcast since 2007 &mdash; currently as a Distinguished Engineer. 
      He enjoys building/motivating teams and ramping up new projects using the latest patterns and web primitives. 
      Outside of Comcast he is a Google Developer Expert in Web Technologies and loves hiking and chilling on the beach.
    </p>

  <!--
    <h3 class="talk-title">Intro to Progressive Web Apps</h3>

    <p class="talk-description">
      What’s a progressive web app (PWA)? 
      Should you turn your site into a PWA? 
      Does it replace the need for a Native Web App?  
      Do PWAs work offline?
    </p>

    <p class="talk-description">
      This session will provide answers to these questions and show you how to create a reliable, fast and engaging PWA. 
      We’ll work through enabling a web app for ‘Add to Home Screen’ support by creating a web app manifest and service worker. 
      Next, we’ll leverage the service worker to optimize loading of images for different devices and network speeds. 
      We’ll wrap up with pushing a web notification to our new PWA.
    </p>
-->
  </div>

</div>
