<div id="dave-aronson" class="speaker">
  <div class="speaker-photo">
    <img class="speaker-image" src="{{site.url}}/images/cat4.png" alt="Dave Aronson" width="150"/>
  </div>

  <div class="speaker-details">

    <h3 class="speaker-name">Dave Aronson</span></h3>

    <p class="speaker-bio">
      Dave is a semi-retired software development consultant (writing code and giving advice about it), 
      with 37 years of professional experience in a wide variety of languages, systems, frameworks, techniques, domains, etc. 
      He is the T. Rex of <a href="https://www.Codosaur.us/" target="_blank">Codosaurus, LLC</a> 
      (his one-person consulting firm, which explains how he can get such a cool title) near Washington, DC, USA. 
      His main focus in software is to spread the gospel of quality, including defining what that even means. 
      In his spare time, he makes mead and teaches others how.    
    </p>

  </div>
  
</div>
