<div id="dave-aronson" class="speaker">
  <div class="speaker-photo">
    <img class="speaker-image" src="{{site.url}}/images/speakers/2022/dave_aronson.jpg" alt="Dave Aronson" width="150"/>
  </div>

  <div class="speaker-details">

    <h3 class="speaker-name">Dave Aronson</span></h3>

    <p class="speaker-bio">
      Dave is a semi-retired software development consultant (writing code and giving advice about it), 
      with 37 years of professional experience in a wide variety of languages, systems, frameworks, techniques, domains, etc. 
      He is the T. Rex of <a href="https://www.Codosaur.us/" target="_blank">Codosaurus, LLC</a> 
      (his one-person consulting firm, which explains how he can get such a cool title) near Washington, DC, USA. 
      His main focus in software is to spread the gospel of quality, including defining what that even means. 
      In his spare time, he makes mead and teaches others how.    
    </p>

    <h3 class="talk-title">ACRUMEN: What Is Software Quality Anyway?!</h3>

    <p class="talk-description">
      Without a good definition of software quality, 
      you’ll have a tough time achieving it! 
      This talk introduces ACRUMEN, my simple yet fairly comprehensive definition, that you can use with any tech stack, for free. 
      It stands for the idea that software should be Appropriate, Correct, Robust, Usable, Maintainable, and Efficient. 
      (Come to the talk to see what the rest stands for!) 
      I will explain why we need a definition, and how to apply this one, then explore each aspect in turn, 
      including further nuances and immediately useful tips on how to achieve each one. 
      You will come away better equipped to analyze the quality of anybody’s software, 
      give precise feedback on its shortcomings, and most importantly, improve the quality of your own software.
  </p>
  </div>
  
</div>
