<div id="dave-aronson" class="speaker">
  <div class="speaker-photo">
    <img class="speaker-image" src="{{site.url}}/images/cat4.png" alt="Dave Aronson" width="150"/>
  </div>

  <div class="speaker-details">

    <h3 class="speaker-name">Dave Aronson</span></h3>

    <p class="speaker-bio">
      <a href="https://daydreamsinruby.com" target="_blank">Allison McMillan</a>
      is the VP of Engineering at
      <a href="https://www.quotapath.com/" target="_blank">QuotaPath</a>.
      She's worn many hats in multiple industries as a community builder, managing director, and software engineer. 
      She has also been an engineering leader at DEV and GitHub.
    </p>
    <p class="speaker-bio">
      Allison started a podcast about being a parent in tech, 
      <a href="https://www.parentdrivendevelopment.com/" target="_blank">Parent Driven Development</a>
      and is the board president of Ruby Central. She is an internationally recognized keynote speaker and speaks on a variety of topics including building interactive workshops for engineers, working remotely, and more.
    </p>
    <p class="speaker-bio">
      When she's not coding, you can find her encouraging her son's climbing skills, being both proud and annoyed about her daughter's sassiness, or pretending she has time to bake. 
    </p>

  </div>
  
</div>
