<div id="doguhan-uluca" class="speaker">
  <div class="speaker-photo">
    <img class="speaker-image" src="{{site.url}}/images/cat3.png" alt="Doguhan Uluca" width="150"/>
  </div>

  <div class="speaker-details">

    <h3 class="speaker-name">Doguhan Uluca</span></h3>

    <p class="speaker-bio">
      Doguhan Uluca is a Google Developer's Expert in Angular, author of the best-selling Angular for Enterprise-Ready Web Applications, 
      and a Principal Fellow for Excella in Washington DC. 
      Doguhan is passionate about contributing to OSS projects and teaching. He loves Lego, playing Go, and traveling.
    </p>
  </div>
  
</div>
