<div class="footer">
  <div class="center">
    <footer>
      <p>For sponsorship information, please email us at info at frontrunners.tech</p>
      <p>We require our attendees and speakers to follow our <a href="{{site.url}}/policies/conduct.html">Code of Conduct</a>.</p>
         <a href="https://twitter.com/frontrunnersdc">
           <img alt="twitter" src="{{site.url}}/images/social/twitter.png" target="_blank" width="32" height="32"></a>
         <a href="https://www.youtube.com/ItsNautHuman">
           <img alt="youtube" src="{{site.url}}/images/social/youtube.png" target="_blank" width="32" height="32"></a>
    </footer>
  </div>
</div>
