<style>
  footer p {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-size: 16px;
    text-align: left;
  }
  footer {
  }
  div.footer {
    padding: 1em;
    margin: 0 auto;
    border: solid black;
    border-width: 1px 0px 0px 0px;
  }
</style>

<div class="footer">
  <div class="center">
    <footer>
      <p>For sponsorship information, please email us at info at frontrunners.tech</p>
      <p>We require our attendees and speakers to follow our <a href="{{site.url}}/policies/conduct.html">Code of Conduct</a>.</p>
         <a href="https://twitter.com/frontrunnersdc" target="_blank">
           <img alt="twitter" src="{{site.url}}/images/social/twitter.png" width="32" height="32"></a>
         <a href="https://www.youtube.com/@ItsNautHuman/videos" target="_blank">
           <img alt="youtube" src="{{site.url}}/images/social/youtube.png" width="32" height="32"></a>
         <a href="https://www.linkedin.com/groups/2532798" target="_blank">
           <img alt="youtube" src="{{site.url}}/images/social/linkedin.png" width="32" height="32"></a>
    </footer>
  </div>
</div>
