<style>
  div.headshots-wrapper {
    background-color: #D0ECE7;
  }
  div.headshot-row {
    height: 100%;
    width: 90%;
    font-size: 0;
    margin: 0 auto;
    text-align: center;
  }
  div.headshot-cell {
    padding: 35px 20px;
  }
  div.headshot-cell img {
    padding: 3px 0px 0px 0px;
    /* box-shadow: 4px 4px 2px lightgrey; */
  }	
  

  div.headshot-details {
    padding: 35px 20px;
  }
  div.headshot p,h3,h4,h5 {
    color: #28282B;
    background-color: #E8EBE4;
  }
  div.headshot h1 {
    color: #28282B;
    background-color: #E8EBE4;
  }
  div.headshot h2 {
    color: #28282B;
    background-color: #E8EBE4;
  }
</style>

<div class="headshots-wrapper">
  <div class="headshot-row">
    <div class="headshot-cell">
      <img class="headshot-image" src="{{site.url}}/images/speakers/2022/allison_mcmillan.jpg" alt="" width="150"/>
    </div>
    <div class="headshot-cell">
      <img class="headshot-image" src="{{site.url}}/images/speakers/2022/doguhan_uluca.jpg" alt="" width="150"/>
    </div>
    <div class="headshot-cell">
      <img class="headshot-image" src="{{site.url}}/images/speakers/2022/john_athayde.jpg" alt="" width="150"/>
    </div>
    <div class="headshot-cell">
      <img class="headshot-image" src="{{site.url}}/images/speakers/2022/karl_groves.jpg" alt="" width="150"/>
    </div>
  </div>
</div>
