<style>
  div.headshots-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E8EBE4;
  }
  div.headshot {
    display: flex;
    max-width: 900px;
  }
  div.headshot-image {
    padding: 35px 20px;
  }
  div.headshot-details {
    padding: 35px 20px;
  }
  div.headshot p,h3,h4,h5 {
    color: #28282B;
    background-color: #E8EBE4;
  }
  div.headshot h1 {
    color: #28282B;
    background-color: #E8EBE4;
  }
  div.headshot h2 {
    color: #28282B;
    background-color: #E8EBE4;
  }
  div.headshot-image img {
    padding: 3px 0px 0px 0px;
    /* box-shadow: 4px 4px 2px lightgrey; */
  }	
</style>

<div class="headshot-wrapper">
  <div id="allison-mcmillan-headshot" class="headshot">
    <div class="headshot-image">
      <img class="headshot-image" src="{{site.url}}/images/speakers/2022/allie.jpg" alt="" width="150"/>
    </div>
  </div>
  <div id="doguhan-uluca-headshot" class="headshot">
    <div class="headshot-image">
      <img class="headshot-image" src="{{site.url}}/images/speakers/2022/doguhan_uluca.jpg" alt="" width="150"/>
    </div>
  </div>
  <div id="john-athayde-headshot" class="headshot">
    <div class="headshot-image">
      <img class="headshot-image" src="{{site.url}}/images/speakers/2022/john_athayde.jpg" alt="" width="150"/>
    </div>
  </div>
  <div id="karl-groves-headshot" class="headshot">
    <div class="headshot-image">
      <img class="headshot-image" src="{{site.url}}/images/speakers/2022/karl_groves.jpg" alt="" width="150"/>
    </div>
  </div>
</div>
