<div id="john-athayde" class="speaker">
  <div class="speaker-photo">
    <img class="speaker-image" src="{{site.url}}/images/cat2.png" alt="John Athayde" width="150"/>
  </div>

  <div class="speaker-details">

    <h3 class="speaker-name">John Athayde</span></h3>

    <p class="speaker-bio">
      John Athayde is a designer and developer who spends his days fighting bad coding practices in the Rails view layer. 
      He is currently the VP of Design for PowerFleet. 
      He has also run Meticulous (a UX and design consultancy) since 1997. 
      Prior to PowerFleet, he was the VP of Design for CargoSense and before that, 
      the Lead for UI/UX and Front-end Development–Internal Apps at LivingSocial. 
      In the past, he also was the lead designer at InfoEther and ran Hyphenated People with Amy Hoy. 
      He is currently running a small permaculture farm outside of Charlottesville where he can garden and play in the dirt with his wife and four children. He's spent the past few months building a greenhouse from scratch. In his free time, he plays guitar and keyboards for the DC-based band, Juniper Lane, and works on his solo music project, Rotoscope. He co-authored “The Rails View” with Bruce Williams. He holds his Masters in Architecture from the Catholic University of America.
    </p>
  </div>
  
</div>
