<div id="john-athayde" class="speaker">
  <div class="speaker-photo">
    <img class="speaker-image" src="{{site.url}}/images/speakers/2022/john_athayde.jpg" alt="John Athayde" width="150"/>
  </div>

  <div class="speaker-details">

    <h3 class="speaker-name">John Athayde</span></h3>

    <p class="speaker-bio">
      John Athayde is a designer and developer who spends a lot of time fighting bad coding practices in the Rails view layer. 
      He is currently the VP of Brand + Experience for PowerFleet. 
      He’s run Meticulous (a design consultancy) since 1997. 
      Prior to this he ran design at CargoSense and was the Lead for UI/UX and Front-end Development‚ Internal Apps at LivingSocial. 
      In the past he also was the lead designer at InfoEther and ran Hyphenated People with Amy Hoy. 
      He is currently a small permaculture farm outside of Charlottesville where he can garden and play in the dirt with his wife and four children. 
      In his free time, he plays guitar and keyboards for the DC-based band, Juniper Lane, 
      and works on his solo music project, Rotoscope. He co-authored‚ The Rails View‚ with Bruce Williams. 
      He holds his Masters in Architecture from Catholic University of America.
    </p>
  </div>
  
</div>
