<div id="jordan-kasper" class="speaker">
  <div class="speaker-photo">
    <img class="speaker-image" src="{{site.url}}/images/speakers/2022/jordan.jpg" alt="Jordan Kasper" width="150"/>
  </div>

  <div class="speaker-details">

    <h3 class="speaker-name">Jordan Kasper</span></h3>

    <p class="speaker-bio">
      Jordan Kasper started programming in 1993 and has developed systems on platforms ranging from IBM mainframes to TI calculators and everything in between. 
      His professional experience ranges from startups and digital agencies, to Fortune 100 companies and government institutions. 
      He is currently a Senior Advisor for Technology in the government. 
      Jordan is an open source software advocate, community organizer, conference speaker, and board game enthusiast.
    </p>
  
<!--
TITLE: Everyone can be a Civic Tech Rockstar
Government agencies produce, store, and provide open access to hundreds of thousands of datasets. Teams within the General Services Administration (GSA) create reusable components not just for other agencies, but for everyone to use. Are they perfect? Of course not, but they serve a vital role in iteratively improving the public's access to data and services.
In this talk Jordan Kasper will discuss how he created a website built on top of those tools and data to solve a real world problem. He'll cover how to discover open datasets and APIs, give an intro to the US Web Design System, talk about open source software in the federal government, and show how every one of us can help improve civic technology for the greater good.
-->

  </div>
  
</div>
