<div id="justin-schroeder" class="speaker">
  <div class="speaker-photo">
    <img class="speaker-image" src="{{site.url}}/images/speakers/2022/justin_schroeder.png" alt="John Athayde" width="150"/>
  </div>

  <div class="speaker-details">

    <h3 class="speaker-name">Justin Schroeder</h3>

    <p class="speaker-bio">
      Justin is a senior engineer and co-founder of Braid LLC. 
      He’s also the creator of FormKit, author of AutoAnimate, and eternal guardian of VueFormulate. 
      When he’s not creating GitHub trending open-source packages, 
      Justin is a devoted husband, father of three boys, and connoisseur of all things aviation.
    </p>

    <h3 class="talk-title">Design patterns for modern JavaScript</h3>

    <p class="talk-description">
      The IE11 winter is over! While we were hibernating, 
      JavaScript evolved dramatically — yet most of our design patterns haven’t. 
      Developers (yes, you) — it’s time to refresh how we author our “everyday code” and leverage these new tools! 
      This talk will discuss new patterns for creating a global store, memoizing instance data, emitting events, parsing strings, and observing DOM elements. 
      The future of JavaScript is already here — we just need to learn how to use it.
    </p>
  </div>
  
</div>
