<div id="karl-groves" class="speaker">
  <div class="speaker-photo">
    <img class="speaker-image" src="{{site.url}}/images/cat5.png" alt="Karl Groves" width="150"/>
  </div>

  <div class="speaker-details">

    <h3 class="speaker-name">Karl Groves</span></h3>

    <p class="speaker-bio">
      An unstoppable force for change and thought-leader in an industry regarded for saying 
      "No, I'd rather lead by example in saying Yes, and here's how". 
      I seek to offer solutions to complex problems relating to universal usability. 
      Together we can meet both our goals: your business goals and my goals to lead the way in accessible user experience. 
      I have over a decade experience in doing IT consulting for the biggest companies in the world and biggest agencies in the US Government. 
      Widely regarded as a pragmatic solution-finder, my work is cited in nearly a dozen books and used on curricula in Human-Computer Interaction across the globe. 
      I lead by doing, I teach from experience, and I succeed by facilitating others' success. When others say "That can't be done" I show them how.
    </p>
  </div>
  
</div>
