<div id="karl-groves" class="speaker">
  <div class="speaker-photo">
    <img class="speaker-image" src="{{site.url}}/images/speakers/2022/karl_groves.jpg" alt="Karl Groves" width="150"/>
  </div>

  <div class="speaker-details">

    <h3 class="speaker-name">Karl Groves</span></h3>

    <p class="speaker-bio">
      An unstoppable force for change and thought-leader in an industry regarded for saying 
      "No", I’d rather lead by example in saying "Yes, and here’s how&#8230;". 
      I seek to offer solutions to complex problems relating to universal usability. 
      Together we can meet both our goals: your business goals and my goals to lead the way in accessible user experience. 
      I have over a decade experience in doing IT consulting for the biggest companies in the world and biggest agencies in the US Government. 
      Widely regarded as a pragmatic solution-finder, my work is cited in nearly a dozen books and used on curricula in Human-Computer Interaction across the globe. 
      I lead by doing, I teach from experience, and I succeed by facilitating others' success. When others say "That can't be done" I show them how.
    </p>
  
    <h3 class="talk-title">All Sizzle, No Steak</h3>
    <p class="talk-description">  
      An examination of the distance between fantasy and reality in the case of accessibility overlays. 
      He discussed his research into website accessibility overlays and their marketing messages 
      and explained why overlays are not recommended to make websites accessible. 
      They can, in fact, add accessibility problems to websites and make them more difficult to use.
    </p>
  
  </div>
</div>
