<style>
  div.sponsors-panel-wrapper {
    background-color: whitesmoke;
  }
  div.sponsors-panel {
    margin: 0 auto;
    max-width: 900px;
    padding: 30px 0px;
  }
  div.sponsors-panel h3 {
    color: #28282B;
    background-color: whitesmoke;
    text-align: center;
    padding: 10px 0px;
  }
  div.sponsors-panel p {
    color: #28282B;
    text-align: center;
  }
  div.sponsor-panel-row {
    height: 100%;
    width: 90%;
    font-size: 0;
    margin: 0 auto;
    text-align: center;
  }
  div.sponsor-panel-cell {
    background-color: #C0CCC7;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    vertical-align: top;
    font-size: 18px;
    box-shadow: 3px 3px 3px grey;
  }
  div.sponsor-panel-inner-cell {
  }
  div.sponsor-panel-cell img {
    padding: 3px 0px 0px 0px;
  }
  div.sponsor-panel-cell p {
    color: #28282B;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }
</style>

<div class="sponsors-panel-wrapper">
  <div class="sponsors-panel">
    <h3>Sponsors</h3>
    <div class="sponsor-panel-row">
      <div class="sponsor-panel-cell">
        <div class="sponsor-panel-innercell">
          <a href="http://razorx2.com/">
            <img class="sponsor-panel-image" src="{{site.url}}/images/sponsors/2022/razorx2.png" alt="" width="250"/>
          </a>
        </div>
      </div>
      <div class="sponsor-cell">
        <div class="sponsor-innercell">
          <a href="https://corporate.comcast.com/">
            <img class="sponsor-image" src="{{site.url}}/images/sponsors/2022/comcast-logo.png" alt="" width="250"/>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
