<style>
  div.venue-wrapper {
    display: flex;
    justify-content: center;
  }
  div.venue {
  }
  div.venue img {
    -webkit-filter: blur(5px) grayscale(80%);   /* For Safari 6.0 to 9.0 */
    filter: blur(5px) grayscale(80%);
    max-height: 370px;
  }
</style>

<div class="venue-wrapper">
  <div class="venue">
    <img src="{{site.url}}/images/nationjs.jpg" alt=""/>
    <br>
    Where: 
    <a href="https://www.google.com/maps/place/Van+Metre+Hall,+George+Mason+University/@38.8851762,-77.1010296,15z/data=!4m6!3m5!1s0x89b7b6828b5be0d7:0xc90a1e6e91b89ed5!8m2!3d38.8851762!4d-77.1010296!16s%2Fg%2F11c2pr4km2" class="venue-title" target="_blank">Van Metre Hall</a>
  </div>
</div>
