      * { 
        margin: 0; 
        padding: 0; 
        box-sizing: border-box;
        font-family: 'Work Sans', sans-serif;
      }
      body {
        background: AliceBlue;
        font-size: 18px;
      }
      h1 {
        background-color: AliceBlue;
        color: #28282B;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        font-family: 'Montserrat', sans-serif;
        font-size: 46px;
        text-align: center;
      }
      h2 {
        background-color: AliceBlue;
        color: #28282B;
        margin-top: 1em;
        margin-bottom: 1em;
        font-size: 22px;
        text-align: left;
      }
      p {
        background-color: AliceBlue;
        color: #28282B;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        font-size: 18px;
        text-align: left;
      }      
      div.content-wrapper {
        background-color: AliceBlue;
      }
      div.content {
        background-color: AliceBlue;
        padding: 1em;
        margin: 0 auto;
        max-width: 800px;
        color: WhiteSmoke;
      }
      img.center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0em;
        margin-bottom: 2.0em;
        width: 50%;
      }
      div.center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0em;
        margin-bottom: 2.0em;
        width: 50%;
      }
      footer p {
        background-color: Grey;
        color: WhiteSmoke;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        font-size: 16px;
        text-align: left;
      }
      footer {
        background-color: Grey;
      }
      div.footer {
        padding: 1em;
        background-color: Grey;
        margin: 0 auto;
        color: WhiteSmoke;
      }
