  div.speaker {
    display: flex;
  }
  div.speaker-photo {
    padding: 30px 0px;
  }
  img.speaker-image {
    border-radius: 8%;
  }	
  div.speaker-details {
    padding: 25px;
  }
  div.speaker p {
    color: #28282B;
  }
  div.speaker h1 {
    color: #28282B;
  }
  div.speaker h3 {
    color: #28282B;
  }
  p.speaker-name {
  }	
  p.speaker-bio {
  }
  h3.talk-title {
  }
  p.talk-description {
  }
